@font-face{
    font-family: 'PTSans-Regular';
    src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

@font-face{
    font-family: 'PTSans-Bold';
    src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}

@font-face{
    font-family: 'LemonMilk';
    src: url(../fonts/LemonMilk.otf);
}

ion-title{
    .toolbar-title{
         font-family: 'PTSans-Regular';
         color: $primaryColor;
    }    
}

ion-navbar{
    background: transparent !important;
}

ion-content{
    background-color: $thirdColor;
    position: relative;

    h1{
        text-align: center;
        font-family: 'PTSans-Regular';        
    }

    button{
        font-family: 'PTSans-Regular';
    }
}

ion-list{
    ion-item.app-input-container{
        background-color: transparent !important;
        border:2px solid $primaryColor !important;

        .item-inner{
            border-bottom: none !important;

            input, select{
                width: 100%;
                border: none !important;
                background-color: transparent !important;
                font-family: 'PTSans-Regular';
            }

            input::-webkit-input-placeholder{
                color: $secondColor !important;
                font-family: 'PTSans-Regular';
            }

            ion-label{
                font-family: 'PTSans-Regular';                
            }
        }        
    }

    ion-item.app-checkbox-container{
        padding-left: 0px !important;
        background-color: transparent;
        border-bottom: none !important;

        .item-inner{
            ion-label{
                font-family: 'PTSans-Regular';
                color: $primaryColor;                
                white-space: inherit;
                text-align: right;
            }

            button{
                margin: 0 !important;
            }            
        }
    }
}

//remove header border-bottom line and background
.toolbar-background{
    border: none !important;
    background: transparent !important;
}

//effect background white
.block-back-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;

    .block-back{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: white;
        z-index: -1;
        transform-origin: 100% 0;
        transform: rotate(-8deg) scale(1.5);
    }
}

//menu
.sidemenu-header{
    overflow: none !important;
    background-color: $fifthColor !important;

    img{
        width: 100px;
        border-radius: 50px;
        position: absolute;
        left: 10px;
        top: 20px;
    }

    h1{
        height: 100px;
        line-height: 100px;
        margin-left: 120px;
        font-family: 'PTSans-Regular';
        color: $primaryColor !important;
        white-space: nowrap;
    }
}

.sidemenu-content{
    background-color: $fifthColor !important;
    ion-list{
        margin: 0 !important;
        
        button{
            font-family: 'PTSans-Regular'; 
            background-color: $fifthColor !important;
            color: $primaryColor;    

            .item-inner{
                border: none !important;
            }
        }

        button.activated{
            background-color: $primaryColor !important;
            color: white;
        }

        button:first-child{
            border: none !important;
        }

        button:last-child{
            border: none !important;
        }

    }
}

//alert customization
.alert-head{
    h2, h3{
       font-family: 'PTSans-Regular';     
    }

    .alert-button-group{
        button{
            font-family: 'LemonMilk';
        }
    }
}

ion-header{
    ion-buttons{
        button{
            font-family: 'PTSans-Regular';
        }
    }

    ion-grid.indicator-tab{
        ion-row{
            ion-col{
                .indicator-item{
                    border-radius: 20px;
                    padding: 10px 16px;                   
                    color: $primaryColor;     
                    font-size: 18px;               
                }

                .indicator-item.active{
                    background-color: $secondColor;
                    color: white;
                }
            }
        }
    }

    ion-grid.custom-tab{
        padding: 0px;

        ion-row{
            ion-col{
                padding: 0 !important;

                button{
                    border-radius: 0 !important;
                    background: $forthColor !important;
                    font-family: 'PTSans-Regular';
                    color: $primaryColor !important;
                    margin: 0;
                } 

                button.active{
                    background: $secondColor !important;
                    font-family: 'PTSans-Regular';
                    color: white !important;
                }                  
            }
        }
    }
}

//loading

.progress-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    left: 0;
    top: 0;

    ion-spinner{
        position: absolute;
        z-index: 10;
        width: 50px;
        height: 50px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: rgba(0,0,0,0.2);
    }
}

.hidden{
    display: none !important;
}


@import "../pages/splash/splash";
@import "../pages/login/login";
@import "../pages/forgot/sendcode/sendcode";
@import "../pages/forgot/verifycode/verifycode";
@import "../pages/register/usertype/usertype";
@import "../pages/register/step1/step1";
@import "../pages/home/home";
@import "../pages/profile/profile";
@import "../pages/profile/editprofile/editprofile";
@import "../pages/profile/letter/letter";
@import "../pages/message/list/list";
@import "../pages/message/list/morepop/morepop";
@import "../pages/message/chat/chat";
@import "../pages/message/new/new";
@import "../pages/message/adduser/adduser";
@import "../pages/post/post";
@import "../pages/post/create/create";
@import "../pages/resource/resource";
@import "../pages/magazine/magazine";
@import "../pages/magazine/create/create";
@import "../pages/terms/terms";
@import "../pages/account/account";
@import "../pages/scholarship/list/list";
@import "../pages/scholarship/single/single";
@import "../pages/scholarship/filter/filter";
@import "../pages/about/about";
@import "../pages/application/single/single";
@import "../pages/application/list/list";
@import "../pages/application/servey/servey";
@import "../pages/colleges/list/list";
@import "../pages/colleges/single/single";
@import "../components/schoolselect/schoolselect";
@import "../components/schoolselect/filter/filter";
@import "../components/statesmodal/statesmodal";
@import "../components/citiesmodal/citiesmodal";
@import "../components/addschool/addschool";