.profile-page{
    position: relative;
    
    .image-container{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        img{
            width: 120px;
            border-radius: 60px;            
        }
    }

    h1.name{
        font-family: 'PTSans-Regular';
        color: $primaryColor !important;
        text-align: center;
    }

    p.more-info{
         font-family: 'PTSans-Regular';
         color: $primaryColor !important;
         opacity: 0.8;
         text-align: center;
    }

    .edit-btn{
        border-radius: 50%;
        width: 43px;
        height: 43px;
    }

    .status-container{
        text-align: center;
        font-family: 'PTSans-Regular';
        color: $primaryColor !important;
        margin-top: 50px;
    }

    .status-btn-container{
        padding-left: 10px;
        padding-right: 10px;

        ion-grid{
            ion-row{
                ion-col{
                    padding: 0 !important;

                    button{
                        font-family: 'PTSans-Regular';
                        background-color: $forthColor;
                        color: $primaryColor;
                    }

                    button.active{
                        background-color: $secondColor;
                        color: white;
                    }
                }
            }
        }
    }


    ion-grid{
        ion-row{
            ion-col{
                color: $primaryColor;
                font-family: 'PTSans-Regular';
            }

            ion-col.col-img{
                text-align: center;

                img{
                    width: 100px;
                    border-radius: 50px;
                }
            }

            .field{
                color: $secondColor;
                font-family: 'PTSans-Regular';
            }
        }

        ion-row.btn-container{
            ion-col{
                padding: 0px;

                button{
                    border-radius: 0px;
                }
            }
        }
    }

    p.block-header{
        font-family: 'PTSans-Bold';
        color: $primaryColor;
        font-size: 19px;
    }

    ion-list{
        ion-item{
            background: transparent;

            ion-label{
                font-family: 'PTSans-Regular';
            }
        }
    }

    .step-container{
        margin-top: 40px;       

        ion-list{
            ion-item{
                background: transparent;
                border: none;

                ion-icon{
                    color: transparent;
                }

                .item-inner{
                    border: none;
                    color: black;
                    font-family: 'PTSans-Regular';
                    text-align: center;

                    ion-label{
                        white-space: normal;
                    }
                }
            }

            ion-item.active{
                background: $sixthColor;
                ion-icon{
                    color: white;
                }

                .item-inner{
                    color: white;
                }
            }
        }
    }

    p.note{
        font-family: 'PTSans-bold';
        color: $primaryColor;
        font-size: 18px;
        text-align: center;
    }
}