<ion-header>
    <ion-navbar hideBackButton="true" class="profile-navbar">
        <ion-buttons left>
            <button (click)="showPopup($event)">
                <ion-icon primary name="more"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button (click)="openMenu()">
                <ion-icon primary name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding overflow-scroll="false" scroll="true" class="profile-page">
    <div class="image-container">
        <img [src]="data.profile_image" (click)="setProfileImg()">
    </div>
    <h1 class="name">{{data.first_name}} {{data.last_name}}</h1>
    <p class="more-info" *ngIf="data.type!=5">
        {{types[data.type]}} - {{data.additional_data.location.state}}, {{data.additional_data.location.city}}
    </p>
    <p class="more-info" *ngIf="data.type==5">{{types[data.type]}}</p>
    <center>    
        <button outline (click)="goToEditProfilePage()" class="edit-btn">
            <ion-icon name="md-create"></ion-icon>
        </button>
    </center>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button outline primary icon-left block (click)="showCertificate()">
                  <ion-icon name="ribbon"></ion-icon>
                   View Certificate
               </button>
            </ion-col>
            <ion-col>
               <button outline primary icon-left block (click)="showLetterPage()">
                   <ion-icon name="document"></ion-icon>
                   View Award Letter
               </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p class="status-container">
        Account Status
    </p>    
    <div class="status-btn-container">
        <ion-grid *ngIf="data.type==0">
            <ion-row>
                <ion-col>
                    <button full [ngClass]="{'active': data.status==1}">
                        ACTIVE
                    </button>
                </ion-col>
                <ion-col>
                    <button full [ngClass]="{'active': data.status==0}">
                        DORMANT
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="data.type!=0">
            <ion-row>
                <ion-col>
                    <button full [ngClass]="{'active': data.status==1}">
                        ACTIVE
                    </button>
                </ion-col>
                <ion-col>
                    <button full [ngClass]="{'active': data.status==0}">
                        PENDING
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="block-back-container">
        <div class="block-back"></div>
    </div>    
</ion-content>

<!-- Progress -->
<div class="progress-container" [ngClass]="{'hidden': (progress==false)}">    
    <ion-spinner></ion-spinner>
</div>