<ion-header>
    <ion-navbar hideBackButton="true" class="home-navbar">
        <ion-buttons right>
            <button (click)="openMenu()">
                <ion-icon primary name="menu"></ion-icon>
            </button>
        </ion-buttons>                  
    </ion-navbar>    
</ion-header>
<ion-content padding overflow-scroll="false" scroll="true" class="home-page" *ngIf="data">
    <div class="header-block">
        <div class="block1-back">
        </div>
        <img src="img/logo.png">       
    </div>
    <ion-list>
        <ion-item (click)="goToMessagePage()">
            <ion-icon secondary name="mail" item-left></ion-icon>
            <ion-label> 
                You have {{data.messages}} new message(s)
            </ion-label>
        </ion-item>
        <br> 
        <ion-item (click)="goToSchoolList()">
            <ion-icon secondary name="school" item-left></ion-icon>
            <ion-label> 
                {{data.schools}} new schools were added near you
            </ion-label>
        </ion-item>
        <br *ngIf="type==0||type==1||type==2||type==5">
        <ion-item (click)="goToApplication()" *ngIf="type==0||type==1||type==2||type==5">
            <ion-icon secondary name="document" item-left></ion-icon>
            <ion-label> 
                You have {{data.applications}} application(s)
            </ion-label>
        </ion-item>
        <br>
        <ion-item (click)="goToPostPage()">
            <ion-icon secondary name="folder-open" item-left></ion-icon>
            <ion-label> 
                Week in review, {{data.news}} new post(s)
            </ion-label>
        </ion-item>
        <br *ngIf="type==5">
        <ion-item (click)="goToAccountsPage()" *ngIf="type==5">
            <ion-icon secondary name="alert" item-left></ion-icon>
            <ion-label> 
                {{data.accounts}} Accounts need to be approved
            </ion-label>
        </ion-item>        
        <br>
        <ion-item (click)="goToScholarshipPage()">
            <ion-icon secondary name="link" item-left></ion-icon>
            <ion-label> 
                Recently added scholarships near you
            </ion-label>
        </ion-item>
        <br *ngIf="type==5">
        <ion-item (click)="goToAdvertiserPage()" *ngIf="type==5">
            <ion-icon secondary name="person" item-left></ion-icon>
            <ion-label> 
                {{data.advertisers}} Advertisers
            </ion-label>
        </ion-item>
    </ion-list>
    <button secondary block (click)="startapplicantion()" *ngIf="type==0">
        START AN APPLICANTION
    </button>
</ion-content>