.register-step1-page{   

    .step-container{
        padding: 5px;

        p{
            font-family: 'PTSans-Regular';
            margin-bottom: 5px !important;
        }
    }

    .app-nav{
        color: $secondColor;
    }
}