<ion-header>
    <ion-navbar hideBackButton="true">                      
    </ion-navbar>
</ion-header>
<ion-content padding overflow-scroll="false" scroll="true" class="register_step2_page">
    <!-- question 1 -->
    <div *ngIf="step==0">    
        <h1 primary>What is your strength?</h1>    
        <ion-list>
            <br>
            <br>
            <ion-item class="app-input-container">
                <select [ngModel]="answer1">
                    <option value="0">PHP</option>
                    <option value="1">Ionic</option>
                    <option value="2">VB.NET</option>
                </select>
            </ion-item>
        </ion-list>
    </div>
    <!-- question 2 -->
    <div *ngIf="step==1">
        <h1 primary>What are your greatest weakness?</h1>
        <ion-list class="checkbox-container">
            <br>
            <br>
            <ion-item class="app-checkbox-container">
                <ion-label>ASP</ion-label>
                <ion-checkbox [ngModel]="answer2[0]"></ion-checkbox>
            </ion-item>
            <ion-item class="app-checkbox-container">
                <ion-label>Java script</ion-label>
                <ion-checkbox [ngModel]="answer2[1]"></ion-checkbox>
            </ion-item>
            <ion-item class="app-checkbox-container">
                <ion-label>iOS</ion-label>
                <ion-checkbox [ngModel]="answer2[2]"></ion-checkbox>
            </ion-item>        
        </ion-list>
    </div>
    <!--  question 3 -->
    <div *ngIf="step==2">
        <h1 primary>Do you have experience of building mobile application in past?</h1>
        <div class="two-btn-container">
            <br>
            <br>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <button full (click)="select3(0)" [ngClass]="{'active': answer3==0}">YES</button>
                    </ion-col>
                    <ion-col>
                        <button full (click)="select3(1)" [ngClass]="{'active': answer3==1}">NO</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- question 4 -->
    <div *ngIf="step==3">
        <h1 primary>what is your favorite?</h1>
        <br><br>
        <ion-list class="select-container">
            <ion-item [ngClass]="{'active': answer4==0}" (click)="select4(0)">
                <ion-icon name="checkmark" item-left></ion-icon>
                <ion-label>Apple</ion-label>
            </ion-item>
            <ion-item [ngClass]="{'active': answer4==1}" (click)="select4(1)">
                <ion-icon name="checkmark" item-left></ion-icon>
                <ion-label>Peach</ion-label>
            </ion-item>
            <ion-item [ngClass]="{'active': answer4==2}" (click)="select4(2)">
                <ion-icon name="checkmark" item-left></ion-icon>
                <ion-label>Banana</ion-label>
            </ion-item>
        </ion-list>
    </div>
    <br><br>    
    <div class="btn-container">
        <button secondary class="left-btn" (click)="goPrev()" *ngIf="step!=0">
            <ion-icon name="ios-arrow-back"></ion-icon>
        </button>

        <button secondary class="right-btn" (click)="goNext()" *ngIf="step!=3">
            <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>

        <button secondary class="right-btn" (click)="doSend()" *ngIf="step==3">
            <ion-icon name="send"></ion-icon>
        </button>
        <div class="clear"></div>
    </div>
</ion-content>