.register_step2_page{

    .btn-container{
        .left-btn{
            float: left;
        }

        .right-btn{
            float: right;
        }
        
        .clear{
            clear: both;
        }
    }

    .select-container{        
        ion-item{
            border: none !important;
            background-color: transparent !important;

            .item-inner{
                border: none !important;

                ion-label{
                    color: $primaryColor;
                }
            }

            ion-icon{
                color: transparent;
            }
        }

        ion-item.active{
            background-color: $secondColor !important;

            ion-label{
                color: white;
            }

            ion-icon{
                color: white;
            }
        }        
    }

    .two-btn-container{
        margin-left: 30px;
        margin-right: 30px;

        ion-grid{
            ion-col{
                padding: 0 !important;

                button.active{
                    background-color: $secondColor;
                    color: white;
                }

                button{
                    background-color: $forthColor;
                    color: $primaryColor;
                }
            }
        }
    }  

    .checkbox-container{
        ion-item{
            border: none !important;
        }
    }  
}