<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>Choose a state</ion-title>
        <ion-buttons left>
            <button primary (click)="dismiss()">
                Cancel
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button secondary (click)="done()">
                Done
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding class="statesmodal-page">
    <ion-list no-lines *ngIf="states">
        <ion-item  *ngFor="let state of states" (click)="select(state)">
            <ion-icon name="pin" primary item-left></ion-icon>
            {{state}}
            <ion-icon item-right name="checkmark" *ngIf="state==selected"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>

<!-- Progress -->
<div class="progress-container" [ngClass]="{'hidden': (progress==false)}">    
    <ion-spinner></ion-spinner>
</div>