<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>Magazines</ion-title>
        <ion-buttons left *ngIf="canCreate">
            <button (click)="create()">
                <ion-icon primary name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button (click)="openMenu()">
                <ion-icon primary name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content overflow-scroll="false" scroll="true" class="magazine-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"            
            refreshingSpinner="ios"            
        ></ion-refresher-content>       
    </ion-refresher>
    <ion-card style="width: calc(50% - 10px)" *ngFor="let magazine of magazines" (click)="openPDF(magazine.content_url)">  
        <img [src]="magazine.cover_image"/>            
        <p>{{magazine.updated_at | date: 'MMM, yyyy'}}</p>        
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="enableMore">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!-- Progress -->
<div class="progress-container" [ngClass]="{'hidden': (progress==false)}">    
    <ion-spinner></ion-spinner>
</div>