.magazine-page{
    ion-card{
        ion-card-content{
            ion-card-title{
                font-family: 'PTSans-Regular';
                color: $primaryColor;
            }

            p{
                font-family: 'PTSans-Regular';
            }
        }
    }
}