.magazine-page{
    scroll-content{
        border: none !important;

        ion-card{
            margin: 5px !important;
            float: left;           

            p{
                font-family: 'PTSans-Regular';
                color: $secondColor;
                text-align: center;
            }          
        }
    }    
}